.selection {
  border: 1px solid #333745;
  cursor: pointer;

  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  &.selected {
    background-color: #389e0d;
    color: white;
    border-color: #237804;

    &:hover {
      border-color: #d9f7be;
    }
  }
}
