.remove {
  background-color: #f5222d;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
